@import "vars";
@import "blocks/main.scss";
@import "vendors/smart-grid.scss";

html {
    font-size: 62,5%;
}

body {
    background-color: $colorPrimary;

    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.4rem;
    color: $colorText;
}