@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "smart-grid.scss";

@include reset;

body {
    background: url(../img/image.jpg) 0 0 no-repeat;
    background-size: cover;
}

.wrapper {
    @include wrapper;
}

.main-showcase__row {
    @include row-flex;
    // justify-content: space-around;
}

.product-category {
    border: 2px dotted;
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);
}

