@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "smart-grid.scss";

@include reset;

body {
    background: url(../img/background.jpg) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    @include wrapper;
}
// header

.header {
}
.wrapper {
}
.header-row {
    @include row-flex;
    justify-content: space-around;
    color: antiquewhite;

		// .header-row__logo

		&__logo {
            border: 2px dotted;
            @include col;
            @include size(2);
            @include size-md(2);
            @include size-sm(2);
            @include size-xs(2);
            display: flex;
            align-items: center;
            justify-content: center;
		}

		// .header-row__main-tagline

		&__main-tagline {
            border: 2px dotted;
            @include col;
            @include size(8);
            @include size-md(8);
            @include size-sm(8);
            @include size-xs(8);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:45px;
            text-shadow: 1px 1px 2px black, 0 0 1em red;
		}

		// .header-row__contacts

		&__contacts {
            border: 2px dotted;
            @include col;
            @include size(2);
            @include size-md(2);
            @include size-sm(2);
            @include size-xs(2);
            display: flex;
            align-items: center;
            justify-content: center;
		}
}
.main-tagline {
}


// main-showcase

.main-showcase__row {
    @include row-flex;
    // justify-content: space-around;
}

.product-category {
    border: 2px dotted;
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-sm(12);
    @include size-xs(12);

    background: url(../img/Card-img-1.jpg) 0 0 no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    
    margin: $offset_one_side;
}

// footer

.wrapper {
}
.footer-row {
    @include row-flex;

		// .footer-row__div

		&__div {
            border: 2px dotted;
            @include col;
            @include size(4);
            @include size-md(4);
            @include size-sm(4);
            @include size-xs(4);
		}
}





